@model IEnumerable<Treeview.Models.ViewModel>

@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EHRID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EHRDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadEHR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WriteEHR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteEHR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EHRID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EHRDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadEHR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WriteEHR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteEHR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
